In [5]:
import pandas as pd

In [6]:
health_dataset = pd.read_csv('2019.csv')
health_dataset.shape

(418268, 342)

In [7]:
health_selected = health_dataset[['_MICHD','_RFHYPE5',  'TOLDHI2', 'SMOKE100', '_BMI5', 'CVDSTRK3', 'DIABETE4', 
                                    '_TOTINDA', '_FRTLT1A', '_VEGLT1A', '_RFDRHV7', 'HLTHPLN1', 'MEDCOST', 'GENHLTH', 
                                    'MENTHLTH', 'PHYSHLTH', 'DIFFWALK', 'SEXVAR', '_AGEG5YR', 'EDUCA', 'INCOME2']]

In [10]:
health_selected = health_selected.dropna() # Drop rows that are NA
health_selected.shape

(351875, 21)

In [11]:
health_selected.head()

,_MICHD,_RFHYPE5,TOLDHI2,SMOKE100,_BMI5,CVDSTRK3,DIABETE4,_TOTINDA,_FRTLT1A,_VEGLT1A,...,HLTHPLN1,MEDCOST,GENHLTH,MENTHLTH,PHYSHLTH,DIFFWALK,SEXVAR,_AGEG5YR,EDUCA,INCOME2
0,2.0,2.0,1.0,1.0,2817.0,2.0,3.0,2.0,1.0,1.0,...,1.0,2.0,3.0,88.0,15.0,1.0,2.0,13.0,3.0,3.0
1,2.0,1.0,2.0,2.0,1854.0,2.0,3.0,1.0,1.0,1.0,...,1.0,2.0,4.0,88.0,10.0,2.0,2.0,11.0,5.0,5.0
2,2.0,2.0,2.0,2.0,3162.0,2.0,1.0,1.0,1.0,1.0,...,1.0,2.0,3.0,30.0,88.0,1.0,2.0,10.0,6.0,7.0
4,2.0,1.0,1.0,1.0,2148.0,2.0,3.0,2.0,1.0,1.0,...,1.0,2.0,2.0,88.0,88.0,2.0,2.0,13.0,5.0,99.0
6,2.0,1.0,2.0,1.0,3298.0,2.0,1.0,1.0,1.0,1.0,...,1.0,2.0,2.0,88.0,30.0,1.0,1.0,11.0,6.0,7.0

#### Question: Respondents that have ever reported having coronary heart disease (CHD) or myocardial infraction (MI) <br>
- 0: No heart disease or heart attack
- 1: Has heart disease or heart attack

In [12]:
health_selected['_MICHD'] = health_selected['_MICHD'].replace({2:0}) # change 2 to 1
health_selected._MICHD.unique()

array([0., 1.])

#### Question: Question:  Adults who have been told they have high blood pressure by a doctor, nurse, or other health professional<br>
- 0: No high blood pressure
- 1: Has high blood pressure

In [13]:
health_selected['_RFHYPE5'] = health_selected['_RFHYPE5'].replace({1:0, 2:1})
health_selected = health_selected[health_selected._RFHYPE5 != 9] # Remove people who are not sure
health_selected._RFHYPE5.unique()

array([1., 0.])

#### Question: Question:  Have you ever been told by a doctor, nurse or other health professional that your blood cholesterol is high?<br>
- 0: No high chloestrol
- 1: Has high chloestrol

In [15]:
health_selected['TOLDHI2'] = health_selected['TOLDHI2'].replace({2:0})
health_selected = health_selected[health_selected.TOLDHI2 != 9] # Remove people who refused to answer
health_selected = health_selected[health_selected.TOLDHI2 != 7] # Remove people who are not sure
health_selected.TOLDHI2.unique()

array([1., 0.])

#### Question: Body Mass Index (BMI)<br>

In [16]:
health_selected['_BMI5'] = health_selected['_BMI5'].div(100).round(0) # Divide by 100 to obtain actual BMI value
health_selected._BMI5.unique()

array([ 28.,  19.,  32.,  21.,  33.,  31.,  24.,  17.,  22.,  23.,  26.,
        25.,  27.,  35.,  36.,  30.,  16.,  34.,  41.,  29.,  37.,  20.,
        42.,  43.,  39.,  55.,  38.,  40.,  18.,  50.,  12.,  45.,  53.,
        48.,  47.,  44.,  52.,  46.,  51.,  57.,  49.,  74.,  59.,  60.,
        15.,  14.,  54.,  58.,  61.,  63.,  67.,  13.,  70.,  72.,  56.,
        62.,  64.,  68.,  69.,  71.,  76.,  73.,  65.,  66.,  92.,  86.,
        77.,  75.,  79.,  80.,  82., 100.,  84.,  87.,  88.,  81.,  78.,
        97.,  89.,  83.,  99.,  96.,  91.,  98.,  95.,  90.,  94.,  85.])

#### Question: Question:  Have you smoked at least 100 cigarettes in your entire life?   [Note:  5 packs = 100 cigarettes]<br>
- 0: Not smoker/light smoker
- 1: Smoker

In [17]:
health_selected['SMOKE100'] = health_selected['SMOKE100'].replace({2:0})
health_selected = health_selected[health_selected.SMOKE100 != 9] # Remove people who refused to answer
health_selected = health_selected[health_selected.SMOKE100 != 7] # Remove people who are not sure
health_selected.SMOKE100.unique()

array([1., 0.])

#### Question:  (Ever told) you had a stroke.<br>
- 0: No stroke
- 1: Has stroke

In [11]:
health_selected['CVDSTRK3'] = health_selected['CVDSTRK3'].replace({2:0})
health_selected = health_selected[health_selected.CVDSTRK3 != 9] # Remove people who refused to answer
health_selected = health_selected[health_selected.CVDSTRK3 != 7] # Remove people who are not sure
health_selected.CVDSTRK3.unique()

array([0., 1.])

#### Question:  (Ever told) (you had) diabetes? <br>
- 0: No diabetes
- 1: Pre-diabetes or borderline diabetes
- 2: Has diabetes

In [12]:
health_selected['DIABETE4'] = health_selected['DIABETE4'].replace({2:0, 3:0, 4:1, 1:2})
health_selected = health_selected[health_selected.DIABETE4 != 9] # Remove people who refused to answer
health_selected = health_selected[health_selected.DIABETE4 != 7] # Remove people who are not sure
health_selected.DIABETE4.unique()

array([0., 2., 1.])

#### Question:  Adults who reported doing physical activity or exercise during the past 30 days other than their regular job <br>
- 0: No exercise
- 1: Has exercise

In [13]:
health_selected['_TOTINDA'] = health_selected['_TOTINDA'].replace({2:0})
health_selected = health_selected[health_selected._TOTINDA != 9] # Remove people who refused to answer
health_selected._TOTINDA.unique()

array([0., 1.])

#### Question:  Consume Fruit 1 or more times per day <br>
- 0: Does not consume fruit daily
- 1: Consume 1 fruit or more per day

In [14]:
health_selected['_FRTLT1A'] = health_selected['_FRTLT1A'].replace({2:0})
health_selected = health_selected[health_selected._FRTLT1A != 9] # Remove people who refused to answer
health_selected._FRTLT1A.unique()

array([1., 0.])

#### Question:  Consume Vegetables 1 or more times per day <br>
- 0: Does not consume vegetables daily
- 1: Consume 1 vegetables or more per day

In [15]:
health_selected['_VEGLT1A'] = health_selected['_VEGLT1A'].replace({2:0})
health_selected = health_selected[health_selected._VEGLT1A != 9] # Remove people who refused to answer
health_selected._VEGLT1A.unique()

array([1., 0.])

#### Question:  Heavy drinkers (adult men having more than 14 drinks per week and adult women having more than 7 drinks per week) <br>
- 0: Not heavy drinkers
- 1: Heavy drinkers

In [16]:
health_selected['_RFDRHV7'] = health_selected['_RFDRHV7'].replace({2:0})
health_selected = health_selected[health_selected._RFDRHV7 != 9] # Remove people who refused to answer
health_selected._RFDRHV7.unique()

array([1., 0.])

#### Question:  Do you have any kind of health care coverage, including health insurance, prepaid plans such as HMOs, or government plans such as Medicare, or Indian Health Service?<br>
- 0: No healthcare coverage
- 1: Has healthcare coverage

In [17]:
health_selected['HLTHPLN1'] = health_selected['HLTHPLN1'].replace({2:0})
health_selected = health_selected[health_selected.HLTHPLN1 != 9] # Remove people who refused to answer
health_selected = health_selected[health_selected.HLTHPLN1 != 7] # Remove people who do not know
health_selected.HLTHPLN1.unique()

array([1., 0.])

#### Question:  Was there a time in the past 12 months when you needed to see a doctor but could not because of cost?<br>
- 0: Could not afford healthcare
- 1: Could afford healthcare

In [18]:
health_selected['MEDCOST'] = health_selected['MEDCOST'].replace({2:0})
health_selected = health_selected[health_selected.MEDCOST != 9] # Remove people who refused to answer
health_selected = health_selected[health_selected.MEDCOST != 7] # Remove people who do not know
health_selected.MEDCOST.unique()

array([0., 1.])

#### Question:  Would you say that in general your health is:<br>
- 1: Excellent
- 2: Very good
- 3: Good
- 4: Fair
- 5: Poor

In [19]:
health_selected = health_selected[health_selected.GENHLTH != 9] # Remove people who refused to answer
health_selected = health_selected[health_selected.GENHLTH != 7] # Remove people who do not know
health_selected.GENHLTH.unique()

array([3., 4., 2., 1., 5.])

#### Question:  Now thinking about your mental health, which includes stress, depression, and problems with emotions, for how many days during the past 30 days was your mental health not good?<br>
- answer is number of days

In [18]:
health_selected['MENTHLTH'] = health_selected['MENTHLTH'].replace({88:0}) # change none to 0
health_selected = health_selected[health_selected.MENTHLTH != 99] # Remove people who refused to answer
health_selected = health_selected[health_selected.MENTHLTH != 77] # Remove people who do not know
health_selected.MENTHLTH.unique()

array([ 0., 30.,  4.,  1.,  2., 15.,  5.,  7., 10.,  3., 25.,  6., 21.,
       20.,  8., 14., 17., 28., 12., 16., 27., 22., 29., 23., 26., 24.,
       13.,  9., 18., 11., 19.])

#### Question:  Now thinking about your physical health, which includes physical illness and injury, for how many days during the past 30 days was your physical health not good?<br>
- answer is in number of days

In [21]:
health_selected['PHYSHLTH'] = health_selected['PHYSHLTH'].replace({88:0}) # Change none to 0
health_selected = health_selected[health_selected.PHYSHLTH != 99] # Remove people who refused to answer
health_selected = health_selected[health_selected.PHYSHLTH != 77] # Remove people who do not know
health_selected.PHYSHLTH.unique()

array([15., 10.,  0., 30., 20.,  2.,  1.,  7., 14.,  3.,  5., 25.,  4.,
        6., 28., 21., 17.,  8., 16., 27., 12., 23., 18., 13., 29., 19.,
        9., 24., 26., 11., 22.])

#### Question:  Do you have serious difficulty walking or climbing stairs?<br>
- 0: Has walking difficulties
- 1: Do not have walking difficulties

In [22]:
health_selected['DIFFWALK'] = health_selected['DIFFWALK'].replace({2:0})
health_selected = health_selected[health_selected.DIFFWALK != 9] # Remove people who refused to answer
health_selected = health_selected[health_selected.DIFFWALK != 7] # Remove people who do not know
health_selected.DIFFWALK.unique()

array([1., 0.])

#### Question:  Sex of Respondent<br>
- 0: Female
- 1: Male

In [23]:
health_selected['SEXVAR'] = health_selected['SEXVAR'].replace({2:0})
health_selected.DIFFWALK.unique()

array([1., 0.])

#### Question:  Fourteen-level age category<br>
- 1: Age 18 to 24
- 2: Age 25 to 29
- 3: Age 30 to 34
- 4: Age 35 to 39
- 5: Age 40 to 44
- 6: Age 45 to 49
- 7: Age 50 to 54
- 8: Age 55 to 59
- 9: Age 60 to 64
- 10: Age 65 to 69
- 11: Age 70 to 74
- 12: Age 75 to 79
- 13: Age 80 or higher
- 14: Don't know/Refused/Missing (removed)

In [19]:
health_selected = health_selected[health_selected._AGEG5YR != 14] # Remove missing values
health_selected._AGEG5YR.unique()

array([13., 11., 10.,  8., 12.,  7.,  9.,  6.,  5.,  4.,  1.,  3.,  2.])

#### Question:  What is the highest grade or year of school you completed?<br>
- 1: Never attended school or only kindergarten	
- 2: Grades 1 through 8 (Elementary)	
- 3: Grades 9 through 11 (Some high school)
- 4: Grade 12 or GED (High school graduate)
- 5: College 1 year to 3 years (Some college or technical school)
- 6: College 4 years or more (College graduate)

- 9: Refused (removed)

In [20]:
health_selected = health_selected[health_selected.EDUCA != 9] # Remove people who refused to answer
health_selected.EDUCA.unique()

array([3., 5., 6., 2., 4., 1.])

#### Question:  Is your annual household income from all sources (in USD):  (If respondent refuses at any income level, code ´Refused.´)<br>
- 1: Less than 10,000
- 2: Less than 15,000 (10,000 to less than 15,000)	
- 3: Less than 20,000 (15,000 to less than 20,000)
- 4: Less than 25,000 (20,000 to less than 25,000)
- 5: Less than 35,000 (25,000 to less than 35,000)
- 6: Less than 50,000 (35,000 to less than 50,000)
- 7: Less than 75,000 (50,000 to less than 75,000)
- 8: 75,000 or more
- 77: Don’t know/Not sure (Removed)
- 99: Refused (Removed)

In [21]:
health_selected = health_selected[health_selected.INCOME2 != 99] # Remove people who do not know
health_selected = health_selected[health_selected.INCOME2 != 77] # Remove people who refused to answer
health_selected.INCOME2.unique()

array([3., 5., 7., 8., 6., 4., 2., 1.])

In [27]:
health_selected.shape

(254972, 21)

In [28]:
health_selected.head()

,_MICHD,_RFHYPE5,TOLDHI2,SMOKE100,_BMI5,CVDSTRK3,DIABETE4,_TOTINDA,_FRTLT1A,_VEGLT1A,...,HLTHPLN1,MEDCOST,GENHLTH,MENTHLTH,PHYSHLTH,DIFFWALK,SEXVAR,_AGEG5YR,EDUCA,INCOME2
0,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,3.0,0.0,15.0,1.0,0.0,13.0,3.0,3.0
1,0.0,0.0,0.0,0.0,19.0,0.0,0.0,1.0,1.0,1.0,...,1.0,0.0,4.0,0.0,10.0,0.0,0.0,11.0,5.0,5.0
2,0.0,1.0,0.0,0.0,32.0,0.0,2.0,1.0,1.0,1.0,...,1.0,0.0,3.0,30.0,0.0,1.0,0.0,10.0,6.0,7.0
6,0.0,0.0,0.0,1.0,33.0,0.0,2.0,1.0,1.0,1.0,...,1.0,0.0,2.0,0.0,30.0,1.0,1.0,11.0,6.0,7.0
9,0.0,0.0,1.0,1.0,17.0,0.0,2.0,0.0,0.0,0.0,...,1.0,0.0,5.0,0.0,20.0,1.0,0.0,11.0,2.0,3.0

In [29]:
data = health_selected.rename(columns = {'_MICHD':'HeartDiseaseorAttack', 
                                         '_RFHYPE5':'HighBP',  
                                         'TOLDHI2':'HighChol',
                                         '_BMI5':'BMI', 
                                         'SMOKE100':'Smoker', 
                                         'CVDSTRK3':'Stroke', 'DIABETE4':'Diabetes', 
                                         '_TOTINDA':'Exercise', 
                                         '_FRTLT1':'Fruits', '_VEGLT1':"Veggies", 
                                         '_RFDRHV5':'HvyAlcohol', 
                                         'HLTHPLN1':'AnyHealthcare', 'MEDCOST':'AffordHealthcare', 
                                         'GENHLTH':'GenHealth', 'MENTHLTH':'MentHealth', 'PHYSHLTH':'PhysHealth', 'DIFFWALK':'DiffWalk', 
                                         'SEXVAR':'Sex', '_AGEG5YR':'Age', 'EDUCA':'Education', 'INCOME2':'Income' })

In [30]:
data.shape

(254972, 21)

In [31]:
data.groupby(['HeartDiseaseorAttack']).size()

HeartDiseaseorAttack
0.0    232037
1.0     22935
dtype: int64

In [32]:
data.to_csv('Clean2019Data.csv', sep=",", index=False)